@import '../../colors.scss';
@mixin CardBox($CardColor, $CardOpacity)
{
    background: rgba($color: $CardColor, $alpha: $CardOpacity);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

$Aquamarine: #3B707D;
$Orange: #fad5b3;
$RedOrange: #ff8512;
$Black: $VSCodeBlack;
$Gray: #535353;
$AntiFlashWhite: white;

$CalculatorBackground: $Orange;
$DisplayColor: $Black;
$CalculatorAdditionalKeyColor: $Black;
$CalculatorNumberColor: $Gray;
$ToolButtonColor: $RedOrange;

$ButtonOpacity: 0.8;
$ButtonOpacityHover: 1;

.CalculatorApp
{
    height: fit-content;
    min-width: fit-content;
    width: 20rem;
    border-radius: 16px;
    font-weight: 100;
    padding: 1rem;
    box-shadow: 10px 10px 170px -50px rgba($color: $VSCodeBlack, $alpha: 0.8);
}

.CalculatorApp
button
{
    cursor: pointer;
}

.display
{
    background: rgba($color: $DisplayColor, $alpha: 1);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    min-height: 4rem;
    font-size: 3rem;
}

.calculatorToolBox
{
    display: inline-grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 20% 80%;
    min-width: 100%;
    min-height: 15rem;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 0.5rem;
}

.calculatorAdditionalKeys
{ 
    display: inline-grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    min-width: 100%;
    grid-row-start: 1;
    grid-row-end: 1;
}

.calculatorAdditionalKeys
button
{
    border: none;
    background: rgba($color: $CalculatorAdditionalKeyColor, $alpha: $ButtonOpacity);
    border-right: 0.5px solid $AntiFlashWhite;
    border-bottom: 0.5px solid $AntiFlashWhite;
    color: $AntiFlashWhite;
    font-size: 1.5rem;
    font-weight: 100;
}

.calculatorAdditionalKeys
button:hover
{
    background: rgba($color: $CalculatorAdditionalKeyColor, $alpha: 1.0);
}

.calculatorNumbers
{
    padding: 0;
    display: inline-grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    min-width: 100%;
    grid-row-start: 2;
    grid-row-end: 2;
}

.calculatorNumbers
button
{
    border: none;
    border-right: 0.5px solid $AntiFlashWhite;
    border-bottom: 0.5px solid $AntiFlashWhite;
    background-color: rgba($color: $CalculatorNumberColor, $alpha: $ButtonOpacity);
    color: $AntiFlashWhite;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: inherit;
}

.calculatorNumbers
button:hover
{
    background: rgba($color: $CalculatorNumberColor, $alpha: 1);
    color: $AntiFlashWhite;
    min-width: 100%;
}

#ButtonOfValue0
{
    grid-column-start: 1;
    grid-column-end: 3;
}

#ButtonOfValueComma.active
{
    background: rgba($color: $Black, $alpha: 1.0);
}

.calculatorTools
{
    padding: 0;
    display: inline-grid;
    grid-row-start: 1;
    grid-row-end: 3;
}

.calculatorTools
button
{
    border: none;
    border-bottom: 0.5px solid $AntiFlashWhite;
    background: rgba($color: $ToolButtonColor, $alpha: $ButtonOpacity);
    color: $AntiFlashWhite;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: inherit;
}

.calculatorTools
button:hover
{
    background-color: rgba($color: $ToolButtonColor, $alpha: 1.0);
}

.calculatorTools
button.active
{
    background-color: rgba($color: $ToolButtonColor, $alpha: 0.8);
}

.calculatorTools
button:last-child,
.calculatorNumbers
button:last-child,
.calculatorNumbers
button:nth-last-child(2)
{
    border-bottom: none;
}

@media (max-width:900px) 
{

    .CalculatorApp
    {
        height: fit-content;
        width: fit-content;
        min-height: fit-content;
        min-width: fit-content;

    }

    .calculatorToolBox
    {
        min-width: 100%;
        display: grid;
        grid-template-rows: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem;
        grid-template-columns: 15rem 5rem;
        grid-gap: 1rem 0rem;
        margin-top: 1rem;
        max-width: none;
        max-height: none;
    }

    .calculatorNumbers
    {
        grid-template-rows: 4.5rem 4.5rem 4.5rem 4.5rem;
        grid-gap: 1rem 0rem;
    }

    .calculatorTools
    {
        grid-template-rows: 4.5rem 4.5rem 4.5rem 4.5rem;
        grid-gap: 1rem 0rem;
    }

    .calculatorNumbers
    button,
    .calculatorTools
    button,
    .calculatorAdditionalKeys
    button
    {
        border: none;
        display: flex;
        border-radius: 50%;
        height: 4.5rem;
        width: 4.5rem;
        align-items: center;
        justify-content: center;
        margin: auto;

        min-width: none;
        min-height: none;
    }

    .calculatorNumbers
    button:hover,
    .calculatorTools
    button:hover,
    .calculatorAdditionalKeys
    button:hover
    {
        border: none;
        min-height: fit-content;
        min-width: fit-content;
        border-radius: 50%;
        height: 4.5rem;
        width: 4.5rem;
    }

    #ButtonOfValue0
    {
        width: 9rem;
        height: 4.5rem;
        border-radius: 4rem;
        margin: auto;
        justify-content: flex-start;
        padding-left: 2rem;
    }

}