$Aquamarine: #3B707D;
$Orange: #fad5b3;
$RedOrange: #ff8512;
$Black: #030A04;
$Gray: #424242;
$AntiFlashWhite: white;

$HeaderFontColor: black;
$MainFontColor: black;
$AnimationDuration: 0.4s;

$CalculatorBackground: $Orange;
$DisplayColor: $Black;
$CalculatorAdditionalKeyColor: $Black;
$CalculatorNumberColor: $Gray;
$ToolButtonColor: $RedOrange;

$ButtonOpacity: 0.8;
$ButtonOpacityHover: 1;